{% extends "base.html" %}
{% block title %}검색: {{ query }} - Flask Blog{% endblock %}
{% block content %}
<h1>"{{ query }}" 검색 결과</h1>
{% if posts %}
<ul class="post-list">
    {% for post in posts %}
    <li>
        <a href="{{ url_for('post_detail', post_id=post['id']) }}">{{ post['title'] }}</a>
        <span class="category">{{ post['category'] }}</span>
        <span class="date">{{ post['created_at'] }}</span>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>검색 결과가 없습니다</p>
{% endif %}
{% endblock %}
